# Environment
.direnv
.envrc
flake.*
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
.venv/

# Django
*.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/
build/

# Expo / React Native
.expo/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment locals
frontend/.env*
mobile/.env

# Pytest
.pytest_cache/

# Agents Agy
.agents/